*

!lib/index.js
!lib/types.js

!lib/core/Collection.js
!lib/core/MycroDatabase.js

!lib/storage/json.js
!lib/storage/memory.js
!lib/storage/typedJson.js

!lib/utils/createDirectoriesRecursively.js
!lib/utils/removeFileNameAndExtension.js
!lib/utils/validateSchema.js

!package.json
!README.md
!docs/public/*
!LICENSE
